$brandcolor: #3b5998;
$brandbackground: #f4f4f4;
$brandborder: solid 1px #333;

.nav {
    border-bottom: $brandborder;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  width: 7.5rem;
  
}

body {
  background: url(https://cdn.dribbble.com/users/3949882/screenshots/6957914/pattern_2.jpg);
  
}

.main {
  background: rgba(59,89,152,0.95);
  padding: 0.5rem;
  margin-top: 0.75rem;
  
  border-radius: 0.25rem;
}

.status_card {
  margin: 0.75rem;
  padding: 0.25rem;
  
}

.buttonbox {
  display: flex;
  justify-content: flex-end;
}

.buttonbox Button {
  margin-left: 0.25rem;
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.5rem;

}
