$brandcolor: #3b5998;
$brandbackground: #f4f4f4;
$brandborder: solid 1px #333;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightblue;
}

.nav {
    border-bottom: $brandborder;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  width: 7.5rem;
}

.status-card{
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  background-color: #668ad6;
}

.buttonbox {
  width: fit-content;
  display: flex;
  align-self: flex-end;
  border: 2px solid white;
}

.buttonbox Button {
  margin-left: 0.25rem;
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.5rem;
}
